<h1>Hi there!</h1>
<h2>Welcome to this fun 5-minute calculator</br>
The aim is to inspire us all to live a little greener</h2>

<p><%= link_to "Get started!", new_volunteer_path %>


<!-- Or put sign-in first, then search bar on next page... -->
<!-- Put search bar here, or drop-down bar containing events -->